body {
  font-family: "Roboto Mono", monospace;
  height: 107vh;
  background-image: url(https://wallpapercave.com/wp/wp2347336.jpg);
  background-size: cover;
  background-position: center center;
  margin: 1px;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #000000;
  margin: 0 0 5px;
  position: relative;
  text-shadow: 1.5px  1.5px  #ffffff;
  top: 110px;
}

.page-subtitle {
  color: #383d3b;
  margin-top:10rem;
  font-size: 18pt;
  text-shadow: 2px 2px  #ffffff;
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}
